/* styles.css */
.chatbot-container {
    width: 400px;
    max-height: 700px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    position: fixed;
    bottom: 80px; /* Ajusta esto según el tamaño del botón flotante */
    right: 20px;
    background: white;
    transition: all 0.5s ease-in-out; /* Añade esta línea */
    transform: scale(0); /* Inicia con el chatbot "cerrado" */
    transform-origin: bottom right;/* El efecto de escala se originará desde la esquina inferior derecha */
  }
  .chatbot-container.open {
    transform: scale(1); /* Escala el chatbot a su tamaño original */
  }
  .chatbot-header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: #333;
    display: flex;
    justify-content: space-between; /* Ajuste para incluir el botón de cierre */
    align-items: center;
  }
  
  .chatbot-icon {
    margin-right: 10px;
  }
  
  .chatbot-close {
    cursor: pointer;
  }
  
  
  .chatbot-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los mensajes a la derecha */
    max-height: 500px; /* Ajusta este valor según tus necesidades */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    padding: 15px;
  }
  
  
  .chatbot-message {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .chatbot-buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .chatbot-button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .chatbot-button-container button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
  }
  
  .chatbot-button-container button:hover {
    background-color: #0056b3;
  }
  .user-input {
    display: flex;
  }
  
  .user-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .user-input button {
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  @keyframes parpadeo {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  .chat-toggle {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 1000; /* Asegúrate de que el botón esté sobre otros elementos */
    
  }
  
.burbuja-parpadeante {
  animation: parpadeo 2s ease-in-out infinite;
}
  
  .toggle-icon {
    width: 50px; /* O el tamaño que prefieras */
    height: 50px;
    border-radius: 50%; /* Esto hará que la imagen sea completamente redonda */
    object-fit: cover; 
  }

  .chatbot-icon{
    width: 30px; /* Nuevo tamaño más pequeño */
    height: 30px;
    object-fit: cover; /* Ajusta la imagen dentro del espacio asignado */
    border-radius: 50%; 
  }
  
  
/* Estilos para los mensajes del chatbot */
.chatbot-message {
  background-color: #f1f1f1; /* Fondo para el chatbot */
  color: #333; /* Color de texto para el chatbot */
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 80%;
  text-align: left;
  align-self: flex-start; /* Alinea los mensajes del chatbot a la izquierda */
}

/* Estilos para los mensajes del usuario */
.user-message {
  background-color: #007bff; /* Fondo azul para el usuario */
  color: white; /* Texto blanco para mejor contraste */
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 80%;
  text-align: left;
  align-self: flex-end; /* Alinea los mensajes del usuario a la derecha */
}
  .user-input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4; /* Puedes ajustar el color de fondo */
    border-top: 1px solid #ccc; /* Línea divisoria entre el chat y la caja de texto */
  }
  
  .user-input-container input[type="text"] {
    flex-grow: 1;
    width: 73%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-input-container button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-input-container button:hover {
    background-color: #0056b3;
  }
  /*ubicacion*/
  .chatbot-body select {
    width: 100%; /* Asegura que la lista ocupe todo el ancho disponible */
    padding: 10px; /* Espaciado interior para hacer la lista más fácil de usar */
    margin: 10px 0; /* Añade un poco de espacio antes y después de la lista */
    border: 1px solid #ccc; /* Un borde sutil */
    border-radius: 4px; /* Bordes redondeados para un look más suave */
    background-color: #fff; /* Fondo blanco para la lista */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Una sombra ligera para darle profundidad */
    font-size: 1rem; /* Tamaño de fuente legible */
    color: #333; /* Color de texto oscuro para contraste */
  }